<h1>Music Playlist Manager</h1>
<p>A full-stack song and playlist management app.</p>
<p>Without an account, you can search up song tracks based on artist, title, or genre. You can also view recently updated playlists.</p>
<p>With an account, you can create playlists, add tracks to them, and make reviews on other's playlists.</p>

<br>
<br>

<button (click)="goToHomepage()">Homepage</button>
<button (click)="goToLogin()">Login</button>

<br>
<br>
<br>
<br>

<a routerLink="/security-privacy-policy" class="policy">Security Privacy Policy</a>
<a routerLink="/dmca-notice-takedown-policy" class="policy">DMCA Notice And Takedown Policy</a>
<a routerLink="/acceptable-use-policy" class="policy">Acceptable Use Policy</a>
